user.gradle
build.bat
.gradle/
target/
build/
bin/
out/

*.DS_Store
*.class
*.dat
*.swp
*~

.idea
*.iml
*.ipr
*.iws

.settings/
.classpath
.project

.fleet
.shelf
.vscode
.jqwik-database
verification-metadata.dryrun.xml
