<!--

     Licensed to the Apache Software Foundation (ASF) under one
     or more contributor license agreements.  See the NOTICE file
     distributed with this work for additional information
     regarding copyright ownership.  The ASF licenses this file
     to you under the Apache License, Version 2.0 (the
     "License"); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing,
     software distributed under the License is distributed on an
     "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
     specific language governing permissions and limitations
     under the License.

-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>${docType.simpleClassName} ($title)</title>
    <%
    int dotCount = docType.packageName.count('.')
    String pathPref = '../' * (dotCount + 1)
    %>
    <link rel="stylesheet" type="text/css" href="${pathPref}stylesheet.css" title="Style">
    <script type="text/javascript">
        function windowTitle() {
            parent.document.title = document.title;
        }
    </script>
</head>

<body class="center" onload="windowTitle();">

    <!-- ========== START OF NAVBAR ========== -->
    <a name="navbar_top"><!-- --></a>

    <div class="topNav">
        <ul class="navList" title="Navigation">
            <li><a href="${pathPref}overview-summary.html">Overview</a></li>
            <li><a href="package-summary.html">Package</a></li>
            <li class="navBarCell1Rev">Class</li>
            <li><a href="${pathPref}index-all.html">Index</a></li>
        </ul>
    </div>

    <!-- =========== END OF NAVBAR =========== -->

    <!-- ======== START OF class DATA ======== -->

    <div class="header">
        <div class="subTitle">Package: <strong>${docType.packageName}</strong></div>
        <h2>${docType.interface ? 'Interface' : 'Class'} ${docType.simpleClassName}</h2>
    </div>

    <div class="contentContainer">

    <!-- ========== METHOD SUMMARY =========== -->

        <a name="method_summary"><!-- --></a>

        <div class="summary">
            <ul class="blockList">
                <li class="blockList">
                    <ul class="blockList">
                        <li class="blockList">
                            <h3>Methods Summary</h3>
                            <table border="0" cellpadding="3" cellspacing="0" class="overviewSummary">
                               <caption><span>Methods</span><span class="tabEnd">&nbsp;</span></caption>
                                <tbody>
                                    <tr>
                                        <th>Return type</th>
                                        <th>Name and parameters</th>
                                    </tr>
                                    <% docType.docMethods.eachWithIndex { docMethod, i -> %>
                                    <tr class="${i % 2 == 0 ? 'altColor' : 'rawColor'}">
                                        <td align="right" valign="top" width="1%">
                                            <span> <code>${docMethod.isStatic() ? 'static ' : ''}${docMethod.returnTypeDocUrl}</code></span>
                                        </td>
                                        <td>
                                            <code><strong><a href="#${docMethod.name}(${docMethod.parametersSignature})">${docMethod.name}</a></strong>(${docMethod.parametersDocUrl})</code>
                                            <br>
                                            ${docMethod.shortComment}
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </li>
                        <% docType.inheritedMethods.each { inhDocType, inhDocMethods -> %>
                        <ul class="blockList">
                            <li class="blockList">
                            <h4>Methods inherited from ${inhDocType.interface ? 'interface' : 'class'} ${inhDocType.packageName}.${docType.linkAnchor(inhDocType)}</h4>
                                <p>
                                    <%= inhDocMethods.findAll { !it.static }.collect { docMethod ->
                                        """<code><strong><a href="${pathPref}${inhDocType.fullyQualifiedClassName.replace('.', '/')}.html#${docMethod.name}(${docMethod.parametersSignature})">${docMethod.name}</a></strong></code>"""
                                    }.join(", ") %>
                                </p>
                            </li>
                        </ul>
                        <% } %>
                    </ul>
                </li>
            </ul>
        </div>

    <!-- ============ METHOD DETAIL ========== -->

    <a name="method_detail"><!-- --></a>


        <div class="details">
            <ul class="blockList">
                <li class="blockList">
                    <ul class="blockList">
                        <li class="blockList">
                            <h3>Methods Detail</h3>

                            <% docType.docMethods.eachWithIndex { docMethod, i -> %>
                            <a name="${docMethod.name}(${docMethod.parametersSignature})"><!-- --></a>

                            <ul class="blockListLast">
                                <li class="blockList">

                                    <h4>public ${docMethod.isStatic() ? 'static ' : ''}${docMethod.returnTypeDocUrl} <b>${docMethod.name}</b>(${docMethod.parametersDocUrl})</h4>

                                    <p>${docMethod.comment}</p>

                                    <% if (docMethod.parametersSignature) { %>
                                    <dl>
                                        <dt><b>Parameters:</b></dt>
                                        <% docMethod.parameterComments.each { name, comment -> %>
                                        <dd><code>${name}</code> - ${comment}</dd>
                                        <% } %>
                                    </dl>
                                    <%
                                    } %>

                                    <% if (docMethod.returnComment) { %>
                                    <dl>
                                        <dt><b>Returns:</b></dt>
                                        <dd>${docMethod.returnComment}</dd>
                                    </dl>
                                    <% } %>

                                    <%if (docMethod.sinceComment) { %>
                                    <dl>
                                        <dt><b>Since:</b></dt>
                                        <dd>${docMethod.sinceComment}</dd>
                                    </dl>
                                    <%}%>

                                    <% if (docMethod.seeComments) { %>
                                    <dl>
                                        <dt><b>See Also:</b></dt>
                                        <% docMethod.seeComments.each { %>
                                        <dd>${it}</dd>
                                        <% }%>
                                    </dl>
                                    <% } %>

                                </li>
                            </ul>

                            <% } %>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

    <!-- ========= END OF class DATA ========= -->

    <!-- ======= START OF BOTTOM NAVBAR ====== -->
    <a name="navbar_bottom"><!-- --></a>
    <a href="#skip-navbar_bottom" title="Skip navigation links"></a>

    <div class="topNav">
        <ul class="navList" title="Navigation">
            <li><a href="${pathPref}overview-summary.html">Overview</a></li>
            <li><a href="package-summary.html">Package</a></li>
            <li class="navBarCell1Rev">Class</li>
            <li><a href="${pathPref}index-all.html">Index</a></li>
        </ul>
    </div>
    <!-- =========== END OF NAVBAR =========== -->

</body>
</html>
