.host {
	BACKGROUND-POSITION: 0px -25px; FONT-SIZE: 80%; BACKGROUND-IMAGE: url(/groovy/images/yellowGreenBack.png); BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: verdana, helvetica, arial, sans-serif; HEIGHT: 75px; BACKGROUND-COLOR: #ffffaa; TEXT-ALIGN: right
}
.canoo {
	RIGHT: 20px; POSITION: absolute; TOP: 4px
}
.logo {
    LEFT: 20px; POSITION: relative; TOP: -84px
}

.white {
	COLOR: #ffffff
}
.navigation {
    padding-top: 20px;
    padding-left: 10px;
	BACKGROUND-COLOR: #ffffaa
}
.index {
	BACKGROUND-COLOR: #ffffff
}
.index-passed {
	COLOR: #004400
}
.index-failed {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.index-header {
	FONT-WEIGHT: bold
}
.link {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.tab-table {
	MARGIN: 0em 0em 0.5em
}
.tabs {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 0em; COLOR: #000000; PADDING-TOP: 0em; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ccccff
}
.tabs-link {
	COLOR: #000000; TEXT-DECORATION: none
}
.tabs-link:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.tabs-selected {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 0em; COLOR: #000000; PADDING-TOP: 0em; FONT-FAMILY: arial,helvetica,sans-serif
}
.tabs-selected {
	BORDER-RIGHT: inset; BORDER-TOP: inset; BORDER-LEFT: inset; BORDER-BOTTOM: inset
}
.header-title {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #336699; FONT-FAMILY: arial,helvetica,sans-serif
}
.header-label {
	FONT-WEIGHT: bold
}
.header-data {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: arial,helvetica,sans-serif
}
.modifications-data {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
.modifications-sectionheader {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffaa
}
.modifications-oddrow {
	BACKGROUND-COLOR: #ccccff
}
.modifications-evenrow {
	BACKGROUND-COLOR: #ffffcc
}
.breakdown-sectionheader {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffaa
}
.breakdown-data {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
.breakdown-oddrow {
	BACKGROUND-COLOR: #ccccff
}
.breakdown-evenrow {
	BACKGROUND-COLOR: #ffffcc
}
.changelists-oddrow {
	BACKGROUND-COLOR: #ccccff
}
.changelists-evenrow {
	BACKGROUND-COLOR: #ffffcc
}
.changelists-file-spacer {
	BACKGROUND-COLOR: #ffffff
}
.changelists-file-evenrow {
	BACKGROUND-COLOR: #eeeeee
}
.changelists-file-oddrow {
	BACKGROUND-COLOR: #ffffee
}
.changelists-file-header {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #666666
}
.compile-data {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
.compile-error-data {
	FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: arial,helvetica,sans-serif
}
.compile-warn-data {
	FONT-SIZE: 8pt; COLOR: #cc9900; FONT-FAMILY: arial,helvetica,sans-serif
}
.compile-sectionheader {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffaa
}
.distributables-data {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
.distributables-sectionheader {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffaa
}
.distributables-oddrow {
	BACKGROUND-COLOR: #ccccff
}
.distributables-evenrow {
	BACKGROUND-COLOR: #ffffcc
}
.unittests-sectionheader {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffaa
}
.unittests-oddrow {
	BACKGROUND-COLOR: #ccccff
}
.unittests-evenrow {
	BACKGROUND-COLOR: #ffffcc
}
.unittests-data {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
.unittests-error {
	FONT-SIZE: 8pt; COLOR: #901090; FONT-FAMILY: arial,helvetica,sans-serif
}
.unittests-failure {
	FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: arial,helvetica,sans-serif
}
.checkstyle-oddrow {
	BACKGROUND-COLOR: #ccccff
}
.checkstyle-data {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
.checkstyle-sectionheader {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffaa
}
