<web-app>
	<display-name>GroovyPages Test</display-name>
	<description>GroovyPages Test</description>
	<servlet>
        <servlet-name>GroovyPages</servlet-name>
        <servlet-class>groovy.modules.pages.GroovyPages</servlet-class>
		<init-param>
			<param-name>allowSpilling</param-name>
			<param-value>1</param-value>
			<description>
             Allows developers to view the intermediade source code, when they pass
				a spillGroovy argument in the URL.
          </description>
		</init-param>
    </servlet>
	<servlet>
        <servlet-name>GroovyServlet</servlet-name>
        <servlet-class>groovy.servlet.GroovyServlet</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>GroovyPages</servlet-name>
        <url-pattern>*.gsp</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>*.groovy</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
</web-app>
