name: "Validate Gradle Wrapper"
on: [push, pull_request]

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1

