.wikitable, .wiki-table {
    margin: 5px;
    border-collapse: collapse;
}
.wikitable td, .wikitable th, .wiki-table td, .wiki-table th {
    border: 1px solid #ccc;
    padding: 3px 4px 3px 4px;
}
.wikitable th, .wiki-table th {
    background: #f0f0f0;
    text-align: center;
}
BODY,td,tr,table                {color: #343434; font-size: 17px; font-family: baskerville,times}
TEXTAREA            {color: #343434; font-size: 11px; font-family: monospace}
.heading-1	    {color: #343434; font-size: 13px; font-family: tahoma,arial,helvetica,sans-serif}
.heading-1-1	    {color: #343434; font-size: 11px; font-family: tahoma,arial,helvetica,sans-serif}
.tb		    {color: #343434; font-size: 11px; font-family: tahoma,arial,helvetica,sans-serif; font-weight: bold}
.wtb		    {color: #FFFFFF; font-size: 11px; font-family: tahoma,arial,helvetica,sans-serif; font-weight: bold}
.bold               {FONT-WEIGHT: bold}
LI                  {margin-left: -10px; margin-right: 12px}
.title 		    {font-size: 11px; font-family: arial,helvetica,sans-serif}
.code               {padding-top: 1px; padding-bottom: 2px; padding-left: 24px; border-top: 1px solid #ccccff; border-bottom: 1px solid #ccccff; color: #555577; margin-bottom: 6px; font-family: tahoma, arial; font-weight: bold; font-size: 11px}
.code-alt           {background-color: #8F7771; padding-top: 1px; padding-bottom: 2px; padding-left: 24px; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; color: #FFFFFF; margin-bottom: 6px; font-family: tahoma, arial; font-weight: bold; font-size: 11px; text-transform: lowercase}
.rv                 {font-size: 11px; font-family: tahoma, arial; font-weight: bold; color: #FFFFFF }
.rby                {font-size: 11px; font-family: tahoma, arial; color: #685049; padding-bottom: 8px }
.java-keyword       {color: #000080}
.java-object        {color: #660E7A}
.java-quote         {color: #008000}
A	 	    {FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover 	    {FONT-WEIGHT: bold; TEXT-DECORATION: underline}
A:link.dkblue       {COLOR: #1144AA; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:visited.dkblue    {COLOR: #1144AA; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.dkblue 	    {COLOR: #1144AA; TEXT-DECORATION: underline}
A:link.white 	    {COLOR: #FFFFFF; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:visited.white     {COLOR: #FFFFFF; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.white 	    {COLOR: #FFFFFF; TEXT-DECORATION: underline}
A:link.white 	    {COLOR: #FFFFFF; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:visited.white     {COLOR: #FFFFFF; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.white 	    {COLOR: #FFFFFF; TEXT-DECORATION: underline}
A:link.rev	    {COLOR: #65532B; FONT-WEIGHT: bold; FONT-FAMILY: verdana,arial; FONT-SIZE: 10px; TEXT-DECORATION: none}
A:visited.rev	    {COLOR: #65532B; FONT-WEIGHT: bold; FONT-FAMILY: verdana,arial; FONT-SIZE: 10px; TEXT-DECORATION: none}
A:hover.rev	    {COLOR: #65532B; TEXT-DECORATION: underline}
A:link.can	    {COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:visited.can	    {COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.can	    {COLOR: #5500AA; TEXT-DECORATION: underline}
A:link.canlt 	    {COLOR: #555577; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:visited.canlt	    {COLOR: #555577; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A:hover.canlt	    {COLOR: #5500AA; TEXT-DECORATION: underline}

